
<h1>Hi <%= @current_user.name %> :)</h1>

<%= link_to "logout", {:controller=> "logins", :action=> "destroy"}, :method => :delete %>
<div class="wrapper">
<h4>
Here are your list of goals:
</h4>
<%= link_to "my goals", user_goal_path(@current_user) %>

<h4>
Explore other goals:
</h4>
<%= link_to "all goals", goals_path %>

<h4>
Create a new goal:
</h4>
<%= link_to "create", new_user_goal_path %>

<h4>
Record your progress:
</h4>
<%= link_to "log", new_log_path %>

<h4>
Read journey on others' progress:
</h4>
<%= link_to "logs", logs_path %>

<h4>
See your friends' goals:
</h4>
<%= link_to "their goals", user_goals_path %>

</div>