<h2>Write an Entry on Your Progress</h2>

<%= link_to "Return Home", users_path %><br><br>

<%= form_for @log do |f| %>
    <%= f.label "Title Your Log:" %>
    <%= f.text_field :title %>
    <br><br>
    <%= f.label "Date:" %>
    <%= f.text_field :date %>
    <br><br>
    <%= f.label "Write:" %>
    <%= f.text_area :entry %>
    <br><br>
    <%= f.label "choose a motto:" %>
    <%= collection_select(:log, :motto_id, Motto.all, :id, :phrase) %>
    <br><br>
    <%= f.submit "Add Log" %>
<% end %>