<h3>Your Logs:</h3>

<%= link_to "Return Home", users_path %>
<br><br>
<%= link_to "Add Log", new_log_path %>
<br><br>
<% @user_logs.each do |log| %>
    <li>On: <%= log.date %><br><br>
    Title: "<%= log.title %>"<br><br>
    Description: <%= log.entry %><br><br>
    Motto: "<%= log.motto.phrase %>"<br><br></li>
    <%= link_to "Delete?", :log, method: :delete, data: { confirm: "Really?" } %><br><br>
<% end %>