<h3>Add/Create A Goal</h3>

<%= form_for @usergoal do |f| %>
    <% #f.label("Re-enter Your Name:") %>
    <% #number_field :user_id %>

    <%= f.label("Goal Category:") %>
    <%= collection_select(:user_goal, :goal_id, Goal.all, :id, :category, prompt: true) %>
    <br><br>
    <%= f.label("Describe it:") %>
    <%= f.text_field :description %>
    <br><br>
    <%= f.label("Start Date:") %>
    <%= f.text_field :start_date %>
    <br><br>
    <%= f.label("Goal Date:") %>
    <%= f.text_field :goal_date %>
    <br>
    <br>
    <%= f.submit "Create!" %>
<% end %>
    